.venv/

.idea/

__pycache__/

exercises/batch_errors/**
exercises/batch_outputs/**

batch_errors/**
batch_outputs/**
batch_jobs/**

dxchange/

old_versions/

figures/**
results/**

**/**/*.zip
**/*.zip

**/**/*.csv
**/*.csv

**/**/*.parquet
**/*.parquet


**/*.npy
*.npy

**/*.zarr
*.zarr

**/*.h5
*.h5
**/*.npy
*.npy
**/*.nii
*.nii
**/*.nii.gz
**.nii.gz
**/*.tif
*.tif
**/*.tiff
*.tiff

*.log

!*.gitkeep
