--find-links https://download.pytorch.org/whl/torch
torch==2.5.1+cu124
torchvision
torchaudio
zarr
ome-zarr
numpy
dask
dask-image
h5py
cupy-cuda12x
monai
matplotlib==3.9.0
torchio
opencv-python
hydra-core
invoke
scikit-learn
scikit-image
matplotlib
napari
pipreqs
typer
fastapi
uvicorn
coverage
pytest
ruff
python-multipart
httpx
locust
netron
bentoml
pandas
